body{
    background-color: #fffef9;
}
#nav{
    display: flex;
    align-items: center;
    /* width:100%; */
    /* border: solid pink 2px; */
    justify-content: space-between;
}
#name{

    max-width: 100px;
    max-height: 100px;
    padding-right: 10px;
    padding-left:0px;
}
#home{
    padding:10px;
    text-decoration: none;
    color:black;
}
#about{
    padding:10px;
    text-decoration: none;
    color:black;
}
#projects{
    padding:10px;
    text-decoration: none;
    color:black;
}
#contact{
    padding:10px;
    text-decoration: none;
    color:black;
}
.basic{
    text-decoration: none;
    color:black;

}
.tabs{
    /* border: solid aqua 2px; */
    display: flex;
    /* flex:1; */
}

.header{
    text-align: center;
}
#homePage{
    text-align: center;
    padding: 0% 20% 0% 20%;
}
#aboutMe{
    text-align: center;
    padding: 0% 20% 0% 20%;
}
#aboutMeBlurb{
    text-align: left;
    text-indent: 2em;
}
#projectPage{
    /* text-align: center; */
    padding: 0% 20% 0% 20%;

}
#empower{
    text-align: center;
}
#empowerDescription{
    text-indent: 2em;
}

.project{
    padding:0% 0% 0% 0%;
    border: solid black 2px;
    box-shadow:0px 4px 10px grey;
    margin:40px;

}
.minorHeader{
    border-bottom: solid black 2px;
}
.projectItems{
    padding:0% 2% 0% 2%;
}
#link1{
    background-color:black;
    padding: 10px 16px;
    text-decoration: none;
    color:white;
    text-align: center;
}
.viewGit{
    display: flex;
    justify-content: center;
    padding-bottom:10px;
}

#contactMe{
    display: inline;
}
.contactMessage{
    border:solid pink 2px;
}
.contactContainer{
    margin:0px;
    padding:0px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: solid aqua 2px;
}
.contactItems{
    display:inline
}

#lI{
    height: 70px;
    width: 70px;
    margin: 10px;
}
#gb{
    height: 50px;
    width: 50px;
    margin: 10px;
}
#cal{
    height: 80px;
    width: 80px;
    margin: 10px;
}
#mail{
    height: 80px;
    width: 80px;
    margin: 10px;
}