body{
    background-color: #fffef9;
}
#nav{
    display: flex;
    align-items: center;
    /* width:100%; */
    /* border: solid pink 2px; */
    justify-content: space-between;
}
#name{

    max-width: 100px;
    max-height: 100px;
    padding-right: 10px;
    padding-left:0px;
}
#home{
    padding:10px;
}
#about{
    padding:10px;
}
#projects{
    padding:10px;
}
#contact{
    padding:10px;
}
.tabs{
    /* border: solid aqua 2px; */
    display: flex;
    /* flex:1; */
}

#fullName{
    text-align: center;
}
#intro{
    text-align: center;
    padding: 0% 20% 0% 20%;
}